.topic {
  /* font-size: 13rem; */
  font-family: "Aquire", sans-serif;
  white-space: wrap;
  font-size: 4rem;
  color: white;
  text-align: center;
}
.p1 {
  font-size: 18px;
  color: white;
  text-align: center;
}
.pic{
  width: 90%;

  object-fit: cover;
  object-position: center;
}

