

.topic {
  /* font-size: 13rem; */
  font-family: "Vonique64";
  white-space: wrap;
  font-size: 60px;
  color: white;
  text-align: center;
}
.p1 {
  font-size: 18px;
  color: white;
  text-align: center;
}
.pic{
  width: 90%;

  object-fit: cover;
  object-position: center;
}

.aboutvideo{
  height: 100vh;
  position: relative;
}
video{
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  
  
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: rgba(0,0,0,0.8);
}
.aboutcontent{
  margin: 0 auto;
  position: relative;
  align-content: center;

  color: white;
  z-index: 3;
}



.ax {
  align-items: center;
  align-self: center;
  font-size: 24px;
  font-family: sans-serif;
  text-decoration: none;
  color: #ffffff;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  padding: 10px;
  letter-spacing: 2px;
  transition: all .25s;
}

.ax:hover{
  letter-spacing: 15px;
}

