@import url("https://fonts.cdnfonts.com/css/aquire");

body {
  overflow-x: hidden !important;
}

.card {
  height: 15rem;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(255, 255, 255,0) !important;
  color: white;
}

.card:hover{
  border: 1px solid rgba(255, 255, 255, 1) !important;
}

.card h2{
  font-size: 1.5vw !important;
  font-weight: bold;
}

@media screen and (max-width:576px) {
  
  .card:hover{
    border: 1px solid rgba(255, 255, 255, 1) !important;
  }

  .card h2{
    font-size: 8.5vw !important;
    font-weight: bold;
  }

}

.link {
  color: #fff;
  text-decoration: none !important;
}
.link:hover {
  transform: scale(1.1);
  color: #fff;
  text-decoration: none !important;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  gap: 5.5px;
  font-weight: bold;
  transition: .2s linear;
}

.icon {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

