@import url("https://fonts.cdnfonts.com/css/aquire");

body {
  overflow-x: hidden !important;
}

section#contact > div.container-fluid {
  overflow-y: hidden;
}


.contact-section div.row h1.scroll-text {
  position: relative;
  left: 100%;
  margin-left: 1rem;
  font-size: 16rem;
  font-family: "Vonique64";
  white-space: nowrap;
  -webkit-text-stroke: 3px rgb(255, 255, 255);
  -webkit-text-fill-color: transparent;
}

#scrollDiv{
  position: relative; 
  overflow-x: hidden;
}
.bg-contact {
  /* container-type: line-size; */
  background-image: url("../assets/img/contact.png");
  background-size: cover;
  /* height: 70vh; */
  background-position-y: -11rem;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

@media screen and (max-width: 576px) {
  .contact-section div.row h1.scroll-text {
    font-size: 8rem;
  }
}
  

/* cards */
/* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

/* DEMO GENERAL ============================== */
.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover > img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}

.hover-4 > img {
  width: 90%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: gray;
  -webkit-filter: grayscale(1);
}

.hover-4 .hover-overlay {
  background: rgba(0, 0, 0, 0.4);
  z-index: 90;
}

.hover-4-title {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3rem;
  z-index: 99;
}

.hover-4-description {
  position: absolute;
  top: 2rem;
  left: 2rem;
  text-align: right;
  border-right: 3px solid #fff;
  padding-right: 1rem;
  z-index: 99;
  transform: translateX(-1.5rem);
  opacity: 0;
  transition: all 0.3s;
}

@media (max-width: 992px) {
  .hover-4-description {
    width: auto;
  }

  .cards-hover:hover {
    opacity: 0 !important;
  }

  .hover-4:hover .cards-hover {
    opacity: 0 !important;
  }
}

.hover-4:hover > img {
  width: 100%;
  -webkit-filter: grayscale(0);
}

.hover-4:hover::after {
  opacity: 0;
  transform: none;
}

.hover-4:hover .hover-4-description {
  opacity: 1;
  transform: none;
}
.hover-4:hover .cards-hover {
  opacity: 1;
}

.hover-4:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.8);
}

.cards-hover {
  position: absolute;
  top: 1rem !important;
  right: 1rem !important;
  opacity: 0;
  width: 20% !important;
  z-index: 99;
}

.cards-hover:hover {
  opacity: 1;
}

.qr {
  height: 11em;
  width: 11em;
}

/* .link-contact{
    text-decoration: none;
    transition: ease-out;
}
.link-contact:hover{
    text-decoration: none;
    opacity: 0.2;
    
    
} */


figure {
	width: fit-content;
	height: fit-content;
	margin: 0;
	padding: 0;
	/* background: #fff; */
	overflow: hidden;
}
figure:hover+span {
	bottom: -36px;
	opacity: 1;
}

/* Shine */
.link-contact a{
    text-decoration: none !important;
}
.link-contact figure {
	position: relative;
}
.link-contact figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.link-contact figure:hover::before {
	-webkit-animation: shine .75s;
	animation: shine .75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}