.countDown h1 {
    transition: all .2s ease-in-out;
  }
  
  .light-theme {
    background-color: #000000;
  }
  
  .light-theme .countDown h1 {
    color: #ffffff;
  }
  
  .countDown {
    font-family: 'Roboto', sans-serif;
    width: 550px;
    height: 100%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .countDown .flipdown {
    margin: auto;
  }
  
  .countDown h1 {
    text-align: center;
    font-weight: 100;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  @media(max-width: 550px) {
    .countDown {
      width: 100%;
    }
  
    .countDown h1 {
      font-size: 2.5em;
    }
  }
  
  .countDown{
    align-items: center;
    justify-content: center;
   
  }